.bg-image{
    background-image: url(https://www.24mm.in/uploads/6f41e14c3a4358112c217062fd59ed49.jpeg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.bg-blackshade{
    background-color: rgba(1, 1, 1, 0.4);
}
.services-h1{
    padding: 150px;
}
