.home{
    background-image: url(https://www.24mm.in/uploads/54aea6b15fe93da76690ebb7097b85ac.jpeg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    
}
.home-container{
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover  {
   color: #ffff;
    
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover:after  {
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 50px;
    color: rgb(226, 52, 100);
background-color: rgb(226, 52, 100);
    position: absolute;
    bottom: 0;
    left: 8px;    
transition: all 5s ease-in 0s;
z-index: 1;

}
.navbar-toggler-icon{
    color: #fff;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 25px;
    position: relative;
}

.navbar-nav li:last-child{
    padding: 4px 8px ;
    background-color: rgb(226, 52, 100);
    border-radius: 30px;
}



.profile-bar ul{
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  list-style: none;

}
.profile-bar ul li{
    padding: 10px 30px;
    border: 1px grey;
    margin-top: 1px;
    font-weight: 500; 
}
.profile-bar {
    margin-left: 10px;
    
    transition: all 0.3s linear; 
}

.profilename:hover .profile-bar {
    visibility: visible;
    opacity: 1;
}


.heropage{
    padding: 250px 0px 270px;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.heropage-hr{
    width: 90px;
    height: 2px !important;
    color: #fff !important;
}
.heropage-ele-2 h1{
    font-size: 70px;
}

.heropage-ele-3 a{

    padding: 14px 40px 17px;
    background-color: rgb(226, 52, 100);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 500;
}

.services-ele-1 h1{
    font-size: 50px;
    color: rgb(226, 52, 100);
}

.services-img-banner{
    position: relative;
    margin-bottom: 30px;
}

.services-img-banner img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
}

.desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 47, 23, 0) 0%, rgb(255, 47, 23) 100%);
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: auto;
    padding: 20px;
    transition: all 0.1s linear;
    border-radius: 10px;
    color: white !important;
   
}
.portfolio-img-banner img{
    height: 235px;
    width: 100%;
    object-fit:cover;
}

.pricing-item {
    position: relative;
    color: #fff;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 60px 30px;
    border-radius: 20px;
    background: linear-gradient(30deg, #0109fa93 0%, #50b3d4 50%, #57f39d 100%);
     margin-bottom: 30px;
}

.pricing-item h5{
    font-size: 17px;
    line-height: 1.75em;
    font-weight: 700;
    margin-bottom: 20px;
}
.pricing-item h2{
    position: relative;
    padding: 0 0 20px 0;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}
.pricing-item h6{
    padding: 0;
    line-height: 2em;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.pricing-item a{
color: #f8f9fa;
background-color: transparent;
text-decoration: none;
background-image: none;
border-color: #f8f9fa;
padding-top:4px;
}

.pricing-item-1{
    background: linear-gradient(30deg, #468a6a93 0%, #448d6f 50%, #eeec78 100%);  
}
.pricing-item-2{
    background: linear-gradient(30deg, #546dd3 0%, #864cce 40%, #c94dc9 100%);
}

.backup-bounce-animation {
    animation: backup 1s ease-in-out infinite;
}

@keyframes backup {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px); 
    }
    100% {
        transform: translateX(0); 
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px); 
    }
    60% {
        transform: translateY(-15px); 
    }
}


